[package]
name = "uferris-bsp"
version = "0.1.0"
edition = "2024"

[features]
#! ⚠️ To activate a different device feature, default features need to be disabled 

default = ["xiao-esp32c3", "power-board"]
## Xiao ESP32-C3 Device Support
xiao-esp32c3 = ["esp-hal/esp32c3"]
## uFerris Megalops Power Board Extension Support
power-board = []


[dependencies]
embedded-hal = "1.0.0"
embedded-hal-bus = "0.3.0"
nb = "1.0.0"
bitmask-enum = "2.2.5"
ina219 = "0.2.0"
embedded-sdmmc = "0.9.0"
document-features = "0.2.11"


# Optional device HALs
esp-hal = { version = "1.0.0", optional = true, features = ["unstable"] }
